<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="8.0.4.226" targetFramework="net45" />
  <package id="DotNetNuke.Web" version="8.0.4.226" targetFramework="net45" />
  <package id="DotNetNuke.Web.Deprecated" version="8.0.4.226" targetFramework="net45" />
  <package id="DotNetNuke.Web.Mvc" version="8.0.4.226" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net462" />
  <package id="Microsoft.EntityFrameworkCore" version="2.0.2" targetFramework="net462" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="2.0.2" targetFramework="net462" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="2.0.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NGettext" version="0.6.3" targetFramework="net462" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net462" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net462" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="YamlDotNet" version="4.3.1" targetFramework="net45" />
</packages>